:root {
	--color-dark: 230 35% 7%;
	--color-light: 231 77% 90%;
	--color-white: 0 0% 100%;
}

.container {
	max-width: 100rem;
	padding: 0 2rem;
	margin: 0 auto;
}

.sr-only {
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.bg-dark {
	background-color: hsl(var(--color-dark));
}

.bg-light {
	background-color: hsl(var(--color-light));
}

.bg-white {
	background-color: hsl(var(--color-white));
}

.text-dark {
	color: hsl(var(--color-dark));
}

.text-light {
	color: hsl(var(--color-light));
}

.text-white {
	color: hsl(var(--color-white));
}
